{% extends 'layout/layout.twig' %}

{% block title %}{{ translate('Home') }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col col-md-12">

        </div>
    </div>
{% endblock %}